In [2]:
import cv2
from matplotlib import pyplot as plt
from ipywidgets import interact, interactive, fixed, interact_manual
import numpy as np
import pickle
import sqlalchemy as sql
import sys, os
import matplotlib.pyplot as plt
import argparse
from statistics import mean
import os
import pandas as pd
import numpy as np
from scipy.signal import filtfilt, butter


sys.path.append(r'C:\Users\Nicolas\Documents\GitHub\WorkScripts')
from LibrairieVideoAna.VideoAna import GetSessionFolder

sys.path.append(r'C:\Users\Nicolas\Documents\GitHub\Scripts\Python\Librairies_Tim')
sys.path.append(r'C:\Users\Timothe\NasgoyaveOC/Professionnel/TheseUNIC/Scripts/Python/Librairies_Tim') 
from LibUtils import network, database_IO

In [5]:
connect_string = network.find_activeSQL()
sql_engine = sql.create_engine(connect_string)
rootfolder = network.find_favoritesRootFolder()

session = 1502

SessionDataFrame = database_IO.SessionDataframe( session_id , rootfolder)


trials = []
PicklePath = []
Session=[]



for trial, row in SessionDataFrame.iterrows():
    #print(f'taking value of trial: {trial} at { SessionDataFrame.at[trial,"BEHpath"] }') 
          
    if os.path.exists(SessionDataFrame.at[trial,"BEHpath"]) :
        trials.append(trial)
    else: 
        pass
#print(trials)
    
FULL_pickle_path = os.path.join( SessionDataFrame.at[ trials[0] , "PIPELINEpath" ] , "Collisions" )
print(FULL_pickle_path)    





for root, dirs, files in os.walk(FULL_pickle_path) :
    for file in files :
        if file.endswith('.pickles'):
            #print(file)
            
            name, ext = os.path.splitext(file)
            #print(name, ext)

            NamePieces = name.split("#")
            
            if NamePieces[2] == 'HIT' : 
                
                PicklePath.append(os.path.join(FULL_pickle_path, file ))
                Session.append(NamePieces[0])
        else : 
            pass


        

#print(PicklePath)
    

print(Session)
    
#data = pd.read_pickle(os.path.join(FULL_pickle_path, file ))


#plt.imshow(image.GetImage(SessionDataFrame.at[50,"BEHpath"]))                                       
#display(SessionDataFrame)
#trial = 1

#for files in os.walk(SessionDataFrame.at[trial, 'PIPELINEpath']):
    #print(files)

F:DATA

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

DATA SELECTION IS PROBABLY WRONG OR DATAFILES ARE NOT DOWNLOADED ON DISK : BEHAVIOR FILE DON'T EQUAL EXPECTED TRIALS NUMBERS : 19 video(s) missing over 78 trials
F:DATA\DataProcessing\Expect_1\Mouse21\200210_1\Collisions
[3.3498009672217304, 3.5460376182404296, 3.379230335421397]
['Mouse21_session1502_200210_1_trial11', 'Mouse21_session1502_200210_1_trial22', 'Mouse21_session1502_200210_1_trial31', 'Mouse21_session1502_200210_1_trial4']

In [ ]:
for I in PicklePath :
    pickleHandle = open(I, 'rb')
    kwargs = pickle.load(pickleHandle)
    edges_Obj1 = pickle.load(pickleHandle)
    edges_Obj2 = pickle.load(pickleHandle)
    MetaEDGE_filt = pickle.load(pickleHandle)
    MetaEDGE_filtList = pickle.load(pickleHandle)