In [2]:
import cv2
from matplotlib import pyplot as plt
from ipywidgets import interact, interactive, fixed, interact_manual
import numpy as np
import pickle
import sqlalchemy as sql
import sys, os
import matplotlib.pyplot as plt
import argparse
from statistics import mean
import os
import pandas as pd
import numpy as np
from scipy.signal import filtfilt, butter


sys.path.append(r'C:\Users\Nicolas\Documents\GitHub\WorkScripts')
from LibrairieVideoAna.VideoAna import GetSessionFolder

sys.path.append(r'C:\Users\Nicolas\Documents\GitHub\Scripts\Python\Librairies_Tim')
sys.path.append(r'C:\Users\Timothe\NasgoyaveOC/Professionnel/TheseUNIC/Scripts/Python/Librairies_Tim') 
from LibUtils import network, database_IO

In [39]:
connect_string = network.find_activeSQL()
sql_engine = sql.create_engine(connect_string)
rootfolder = network.find_favoritesRootFolder()

sessions = [1454, 1461, 1502, 1516]

trials = [] # pour le nombre total d'essais
PicklePath = []
Session=[] #contient les hits (NamePieces[0]) pour abscisse
    
    
for session_id in sessions :
    
    SessionDataFrame = database_IO.SessionDataframe( session_id , rootfolder)

    
    
    for trial, row in SessionDataFrame.iterrows():
        #print(f'taking value of trial: {trial} at { SessionDataFrame.at[trial,"BEHpath"] }') 

        if os.path.exists(SessionDataFrame.at[trial,"BEHpath"]) :
            trials.append(trial)
        else: 
            pass
    #print(trials)

    FULL_pickle_path = os.path.join( SessionDataFrame.at[ trials[0] , "PIPELINEpath" ] , "Collisions" )
    print(FULL_pickle_path)    



    for root, dirs, files in os.walk(FULL_pickle_path) :
        for file in files :
            if file.endswith('.pickles'):
                #print(file)

                name, ext = os.path.splitext(file)
                #print(name, ext)

                NamePieces = name.split("#")

                if NamePieces[2] == 'HIT' : 

                    PicklePath.append(os.path.join(FULL_pickle_path, file ))
                    Session.append(NamePieces[0])
            else : 
                pass

        
print(Session)
print(trials)

Ses = []
for i in Session :
    list1 = Ses.append(i[8:28])
    
for elt_id, elt in enumerate(Ses):
    
    if elt == 'session1454_200207_1' :
        
    print(elt, elt_id)



    


#data = pd.read_pickle(os.path.join(FULL_pickle_path, file ))


#plt.imshow(image.GetImage(SessionDataFrame.at[50,"BEHpath"]))                                       
#display(SessionDataFrame)
#trial = 1

#for files in os.walk(SessionDataFrame.at[trial, 'PIPELINEpath']):
    #print(files)

F:DATA

   session_id        session_date  mouse_number batch_name
0        1454 2020-02-07 09:40:00            21   Expect_1
1        1461 2020-02-07 14:44:52            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1454 2020-02-07 09:40:00            21   Expect_1
1        1461 2020-02-07 14:44:52            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1454 2020-02-07 09:40:00            21   Expect_1
1        1461 2020-02-07 14:44:52            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1454 2020-02-07 09:40:00            21   Expect_1
1        1461 2020-02-07 14:44:52            21   Expect_1

DATA SELECTION IS PROBABLY WRONG OR DATAFILES ARE NOT DOWNLOADED ON DISK : BEHAVIOR FILE DON'T EQUAL EXPECTED TRIALS NUMBERS : 1 video(s) missing over 84 trials
F:DATA\DataProcessing\Expect_1\Mouse21\200207_1\Collisions

   session_id        session_date  mouse_number batch_name
0        1454 2020-02-07 09:40:00            21   Expect_1
1        1461 2020-02-07 14:44:52            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1454 2020-02-07 09:40:00            21   Expect_1
1        1461 2020-02-07 14:44:52            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1454 2020-02-07 09:40:00            21   Expect_1
1        1461 2020-02-07 14:44:52            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1454 2020-02-07 09:40:00            21   Expect_1
1        1461 2020-02-07 14:44:52            21   Expect_1

DATA SELECTION IS PROBABLY WRONG OR DATAFILES ARE NOT DOWNLOADED ON DISK : BEHAVIOR FILE DON'T EQUAL EXPECTED TRIALS NUMBERS : 28 video(s) missing over 106 trials
F:DATA\DataProcessing\Expect_1\Mouse21\200207_2\Collisions

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

DATA SELECTION IS PROBABLY WRONG OR DATAFILES ARE NOT DOWNLOADED ON DISK : BEHAVIOR FILE DON'T EQUAL EXPECTED TRIALS NUMBERS : 19 video(s) missing over 78 trials
F:DATA\DataProcessing\Expect_1\Mouse21\200210_1\Collisions

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

   session_id        session_date  mouse_number batch_name
0        1502 2020-02-10 13:53:10            21   Expect_1
1        1516 2020-02-10 17:51:40            21   Expect_1

DATA SELECTION IS PROBABLY WRONG OR DATAFILES ARE NOT DOWNLOADED ON DISK : BEHAVIOR FILE DON'T EQUAL EXPECTED TRIALS NUMBERS : -4 video(s) missing over 94 trials
F:DATA\DataProcessing\Expect_1\Mouse21\200210_2\Collisions
['Mouse21_session1454_200207_1_trial0', 'Mouse21_session1454_200207_1_trial1', 'Mouse21_session1454_200207_1_trial18', 'Mouse21_session1454_200207_1_trial2', 'Mouse21_session1454_200207_1_trial42', 'Mouse21_session1461_200207_2_trial0', 'Mouse21_session1461_200207_2_trial23', 'Mouse21_session1461_200207_2_trial35', 'Mouse21_session1461_200207_2_trial40', 'Mouse21_session1461_200207_2_trial44', 'Mouse21_session1461_200207_2_trial5', 'Mouse21_session1461_200207_2_trial65', 'Mouse21_session1461_200207_2_trial9', 'Mouse21_session1502_200210_1_trial11', 'Mouse21_session1502_200210_1_trial22', 'Mouse21_session1502_200210_1_trial31', 'Mouse21_session1502_200210_1_trial4', 'Mouse21_session1516_200210_2_trial31', 'Mouse21_session1516_200210_2_trial37', 'Mouse21_session1516_200210_2_trial57']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93]
session1454_200207_1 0
session1454_200207_1 1
session1454_200207_1 2
session1454_200207_1 3
session1454_200207_1 4
session1461_200207_2 5
session1461_200207_2 6
session1461_200207_2 7
session1461_200207_2 8
session1461_200207_2 9
session1461_200207_2 10
session1461_200207_2 11
session1461_200207_2 12
session1502_200210_1 13
session1502_200210_1 14
session1502_200210_1 15
session1502_200210_1 16
session1516_200210_2 17
session1516_200210_2 18
session1516_200210_2 19

In [ ]:
for I in PicklePath :
    pickleHandle = open(I, 'rb')
    kwargs = pickle.load(pickleHandle)
    edges_Obj1 = pickle.load(pickleHandle)
    edges_Obj2 = pickle.load(pickleHandle)
    MetaEDGE_filt = pickle.load(pickleHandle)
    MetaEDGE_filtList = pickle.load(pickleHandle)